{% extends 'base.html.twig' %}

{% block title %}Hello CustomerController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello! ✅</h1>
    <a href="{{ path('new_ticket') }}">Create new issue</a>



    <h2>Your tickets: </h2>

    <ul>
        {% for ticket in tickets %}
        <li>Created: {{ ticket.creationTime|date("m/d/Y") }} <a href="{{ path('customer-ticket-details', {id: ticket.id}) }}" title="Show details">{{ ticket.title }}</a></li>

            {% else %}
            <p>{{ message }}</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}
